@import "tailwindcss";


/* Scrollbar genel genişlik */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Scrollbar arka plan */
::-webkit-scrollbar-track {
    background: #101828;
    /* siyah */
}

/* Scrollbar tutulan kısmı */
::-webkit-scrollbar-thumb {
    background: #101828;
    border-radius: 8px;
}

/* Hover efekti */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #101828 #101828;
    /* thumb / background */
}

html,
body {
    background-color: #101828;
}